* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.answer {
    display: none;
}

.toggle-answer {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
